Flitto.playground
*.xcuserstate
.DS_Store
Flitto.app.dSYM.zip
Flitto.ipa
Flitto.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Pods/
bin/periphery
build/
docs/
houston/
xcuserdata/
test_output/
*.generated.swift
